# {{ template_warning }}

data "azurerm_client_config" "current" {}

  {% if 'management' in keyvault %}
  resource "azurerm_key_vault" "reform{{ keyvault }}KeyVault" {
    name                = "reform{{ keyvault }}KeyVault"
    location            = "{{ location }}"
    resource_group_name = "reformMgmtDevopsToolRG"
  {% else %}
  resource "azurerm_key_vault" "reform{{ product }}{{ keyvault }}KeyVault" {
    name                = "reform{{ product }}{{ keyvault }}KeyVault"
    location            = "{{ location }}"

    {% if 'ccidam' in product or 'probate' in product or 'cmc' in product or 'divorce' in product or 'ccfr' in product or 'ccpay' in product or 'sscs' in product or 'ccd' in product %}
    {% if 'prod' not in keyvault %}
    resource_group_name = "demo{{product}}RG"
    {% else %}
    resource_group_name = "${azurerm_resource_group.{{ keyvault }}{{ product | title }}RG.name}"
    {% endif %}
    {% else %}
    resource_group_name = "${azurerm_resource_group.{{ keyvault }}{{ product | title }}RG.name}"
    {% endif %}
    {% endif %}
  sku {
    name = "premium"
      }
  tenant_id = "{{ azure_tenant_id }}"
  enabled_for_template_deployment = "true"

{% if key_vault_permissions is defined  %}
{% if 'management' not in keyvault %}
  ## Policy block for 'dcd_dev_jenkins'
  access_policy {
    tenant_id = "{{ azure_tenant_id }}"
    object_id = "{{ key_vault_permissions['dcd_dev_jenkins'].object_id }}"

    key_permissions = [
    {% for perm in key_vault_permissions['dcd_dev_jenkins'].key_permissions %}
      "{{ perm }}",
    {% endfor %}
    ]

    secret_permissions = [
    {% for perm in key_vault_permissions['dcd_dev_jenkins'].secret_permissions %}
      "{{ perm }}",
    {% endfor %}
    ]
  }
 {% endif %}

 {% if 'dev' in keyvault or 'test' in keyvault or 'demo' in keyvault or 'management' in keyvault %}
  ## Policy block for 'mgmt/dev/test/demo write'
  access_policy {
    tenant_id = "{{ azure_tenant_id }}"
    object_id = "${data.azurerm_client_config.current.service_principal_object_id}"

    key_permissions = [
    {% for perm in key_vault_permissions['devops'].key_permissions %}
      "{{ perm }}",
    {% endfor %}
    ]

    secret_permissions = [
    {% for perm in key_vault_permissions['devops'].secret_permissions %}
      "{{ perm }}",
    {% endfor %}
    ]
  }
 {% endif %}
  {% endif %}
}
